body {
  padding-top: 100px; }

@keyframes move-up {
  0% {
    top: 0px; }
  50% {
    top: -40px; }
  100% {
    top: -80px; } }

@keyframes move-right {
  0% {
    left: 0px; }
  50% {
    left: 40px; }
  100% {
    left: 80px; } }

@keyframes move-left {
  0% {
    left: 0px; }
  50% {
    left: -40px; }
  100% {
    left: -80px; } }

@keyframes move-down {
  0% {
    top: 0px; }
  50% {
    top: 40px; }
  100% {
    top: 80px; } }

div#image {
  margin: 0 auto;
  overflow: hidden; }
  div#image .item {
    margin: 1px;
    border: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    float: left;
    background-repeat: no-repeat; }
    div#image .item:hover {
      transform: scale(1.05); }
    div#image .item::before {
      content: attr(data-pos);
      position: absolute;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      margin: 1px;
      background-color: #aaa;
      font-size: 30px; }
  div#image .item.item-0::before {
    background-color: #fff;
    content: ""; }
  div#image .item.up::before {
    animation: move-up; }
  div#image .item.right::before {
    animation: move-right; }
  div#image .item.down::before {
    animation: move-down; }
  div#image .item.left::before {
    animation: move-left; }

div#action {
  margin: 20px auto 0;
  text-align: center;
  overflow: auto; }
  div#action .btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    color: #112233;
    outline: none;
    margin-right: 20px; }
    div#action .btn:hover {
      cursor: pointer;
      font-weight: bold; }
