div#info
{
    overflow: auto;

    width: 200px;
    margin: 20px auto 0;

    div.info-item
    {
        position: relative;

        margin: 10px 0;
        span
        {
            margin-right: 10px;
        }
    }
}
