div#action
{
    overflow: auto;

    margin: 20px auto 0;

    text-align: center;

    .btn
    {
        width: 60px;
        height: 60px;
        margin-right: 20px;

        color: #123;
        border: 0;
        border-radius: 30px;
        outline: none;

        &:hover
        {
            font-weight: bold;

            cursor: pointer;
        }
    }
}
