$scale: 3;
// $scale: 5;

$image-fragment-size: 80px;
$image-fragment-margin: 1px;

// $imgUrl: url(../../images/scale#{$scale}.png);
$imgUrl: url(../../images/light.jpg);

$successStr: "Win!";
// $successStr: "congratulations!";
