@import "variables";

$imgWidth:  ($image-fragment-size + 2*$image-fragment-margin )* $scale;
$imgHeight: ($image-fragment-size + 2*$image-fragment-margin )* $scale;

div#image{
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: $imgWidth;
  height: $imgHeight;

  .item{
    border: 0;
    padding: 0;
    margin: $image-fragment-margin;
    width: $image-fragment-size;
    height: $image-fragment-size;
    position: absolute;
    background: $imgUrl no-repeat;

    transition-property: top, left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover{
      transform: scale(1.05);
    }

    @for $row from 0 to $scale {
      @for $col from 0 to $scale {
        @if ($row == $scale - 1) and ($col == $scale - 1) {
          &.item-0 {
            background-position: $image-fragment-size $image-fragment-size;
          }
          &.pos-0 {
            top: $row*($image-fragment-size + 2*$image-fragment-margin);
            left: $col*($image-fragment-size + 2*$image-fragment-margin);
          }
        } @else {
          &.item-#{$row * $scale + $col + 1} {
            background-position: -1*$image-fragment-size*$col -1*$image-fragment-size*$row;
          }
          &.pos-#{$row * $scale + $col + 1} {
            top: $row*($image-fragment-size + 2*$image-fragment-margin);
            left: $col*($image-fragment-size + 2*$image-fragment-margin);
          }
        }
      }
    }
  }

  @mixin pseudo-elements {
    position: absolute;
    width: $imgWidth;
    height: $imgHeight;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &.win::before {
    @include pseudo-elements;
    content: '';
    background: #fff;
    opacity: 0.6;
  }

  &.win::after {
    @include pseudo-elements;
    content: $successStr;
    line-height: $imgHeight;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f00;
  }
}
