@import "variables";

div#image{
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: ($image-fragment-size + 2*$image-fragment-margin )* $scale;
  height: ($image-fragment-size + 2*$image-fragment-margin)* $scale;

  .item{
    border: 0;
    padding: 0;
    margin: $image-fragment-margin;
    width: $image-fragment-size;
    height: $image-fragment-size;
    // position: absolute;
    float: left;
    background: url('../../images/scale3.png') no-repeat;
    // background: url('../../images/light.jpg') no-repeat;
    // transition: top 0.15s linear;

    &:hover{
      transform: scale(1.05);
    }

    @for $i from 0 to $scale {
      @for $j from 0 to $scale {
        @if ($i == $scale - 1) and ($j == $scale - 1) {
          &.item-0 {
            background-position: $image-fragment-size $image-fragment-size;
          }
        } @else {
          &.item-#{$i * $scale + $j + 1} {
            background-position: -1*$image-fragment-size*$j -1*$image-fragment-size*$i;
          }
        }

        &.pos-#{$i * $scale + $j} {
          top: $i*($image-fragment-size + 2*$image-fragment-margin);
          left: $j*($image-fragment-size + 2*$image-fragment-margin);
        }
      }
    }
  }
}
